@import "bootstrap/scss/bootstrap";

$breakpoint-tablet: 720px;


.black-white {
    @media (min-width: $breakpoint-tablet) {
        background-image: linear-gradient(90deg, #1D1D1D 50%, white 50%);

        &.big-height {
            height: calc(100vh - 119px);
        }
    }
    @media (max-width: $breakpoint-tablet) {
        background-image: linear-gradient(180deg, #1D1D1D 50%, white 50%);
        
        .big-height {
            height: calc(100vh - 140px);
        }
    }
}

.white-text {
    color: white;
}

.input-bg {
    background-color: #cfbfbf;
}

.input-border-radius {
    border-radius: 0px;
}

.input-border-color {
    border-color: black;
}

.formCustom{
    margin-top: 25%;
    margin-left: 10%;
}

.firstColumnTitle{
    margin-top: 10%;
}

.customPage{
    height: 700px;
}

.hidden{
   display: none;
}

.subscription-feedback{
    &.success{
        color: green;
    }

    &.failure{
    color:red ;
}
}

