@import "bootstrap/scss/bootstrap";



body{
    background-color: #f9f9f9;
}
.leftmargin{
    margin-left: 3%;
}
.line-item-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    color: white;
    margin-left:15px;
}

.page-title{
    position: relative;
    color: #fff;
    padding: .3125em .625em .3125em 15px;
    background-color: var(--skin-primary-color-1);
    display: inline-block;
     margin: .9375em 0;
    font-size: 3rem;
    justify-content: space-between;
    margin-block-start: 0.67em;
    margin-block-end: 0.67em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    margin-bottom: 5%;
}
.cardStyling{
    border: 0.5px solid var(--skin-primary-color-1);
}
#deleteFormButton{

}

